
.performanceTable tr.random-row {
    background: #fafafa;
}
.performanceTable {
    margin: 10px 0px;
}
.performanceTable .institution {
    font-style: italic;
    font-weight: 300;
}
.performanceTable .date {
    font-weight: normal;
    background-color: #777;
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}
.performanceTable td,
.performanceTable th {
    text-align: center;
    max-width: 250px;
}